/* General WPZOOM overrides and styles */
/* ----------------------------------- */

/* HOT PINK: #fe57a1 */
	
	::-moz-selection { background: #fe57a1; }
	::selection      { background: #fe57a1; }

* { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative; 
}

body {
	background: #fff;
}

.inner-wrap {
	background-color: transparent;
	width: 1100px;
}
	@media screen and (max-width: 1200px) {
		.inner-wrap { width: 90%; padding: 0 3%; }
	}

	#content {
		width: 66%;
	}
		@media screen and (max-width: 640px) {
			#content { width: 100%; }
		}

img {
	height: auto;
	max-width: 100%;
}

.caps { text-transform: uppercase; }

/* Specific style overrides */
/* ------------------------ */

a:active,
a:hover,
#navsocial li a:active,
#navsocial li a:hover,
.navsocial li a:active,
.navsocial li a:hover { color: #fe57a1; }

#navbar {
	border: 0;
}

#navsocial,
.navsocial {
	font-size: 18px;
	list-style-type: none;
}

	#header #navsocial {
		margin-top: 15px;
	}

	#navsocial li,
	.navsocial li {
		display: inline-block;
		margin: 0;
		line-height: 20px;
	}

	#navsocial li a,
	.navsocial li a {
		color: #191919;
		display: block;
		padding: 5px;
	}

	#navsocial li:first-child a,
	.navsocial li:first-child a {
		padding-left: 0;
	}

	#navbar + .slashes {
		margin-top: 0;
	}

#logo {
	padding: 0;
}

h1.archive_title {
	border: 0;
	padding: 0;
}

.widget {
	list-style-type: none;
}

.archive #sidebar, 
.page #sidebar,
.single #sidebar { margin-top: 20px; }

/* New, EEXXCC-specific styles */
/* --------------------------- */

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-9up90y');
	src:url('fonts/icomoon.eot?#iefix-9up90y') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-9up90y') format('truetype'),
		url('fonts/icomoon.woff?-9up90y') format('woff'),
		url('fonts/icomoon.svg?-9up90y#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before { content: "\e600"; }
.icon-twitter:before { content: "\e601"; }
.icon-mail:before { content: "\e602"; }
.icon-rss:before { content: "\e603"; }
.icon-tumblr:before { content: "\e604"; }
.icon-youtube:before { content: "\e605"; }


@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.header {
	font-family: 'bebas_neueregular', sans-serif;
}

.alt,
.widgettitle {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-style: italic;
	font-weight: normal;
	text-transform: uppercase;
}

.slashes {
	background-image: url(images/slashes.png);
	height: 16px;
	margin: 10px 0;
	width: 100%;
}
	.backgroundsize .slashes {
		background-image: url(images/slashes-hi-res.png);
		background-size: auto 100%;
	}

#topmenu {
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}

	#topmenu ul {
		float: left;
	}

	#topmenu li {
		display: inline-block;
		font-style: italic;
		text-transform: uppercase;
	}

	#topmenu li:after {
		content: " /";
	}

		#topmenu li:last-child:after {
			content: "";
		}

	#topmenu li a {
		display: inline-block;
		font-style: italic;
		padding: 10px;
	}

	@media screen and (max-width: 640px) {
		#topmenu {
			margin-left: -10px;
		}
	}

	#searchform {
		display: inline;
		margin-left: 5px;
		top: 5px;
	}

	input#s {
		background-image: url(images/magnify-small.png);
		background-position: 5px 5px;
		background-repeat: no-repeat;
		border: 0 none;
		padding-left: 35px;
		text-transform: uppercase;
		font-style: italic;
	}

	.backgroundsize input#s {
		background-image: url(images/magnify.png);
		background-size: 20px 20px;
	}

#masthead,
#masthead img {
	vertical-align: bottom;
}

	#masthead {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	#masthead > a,
	#primary { 
		line-height: 1;
		display: inline-block;
	}

		@media screen and (max-width: 960px) {
			#primary {
				display: block;
				margin-left: 10px;
				margin-top: 15px;
			}
		}
		@media screen and (max-width: 500px) {
			#primary {
				margin-left: -10px;
			}
		}

	#masthead > a {
		margin-right: 0.5em;
	}

	#airplane {
		margin-left: 20px;
		margin-right: 10px;
	}		
		@media screen and (max-width: 500px) {
			#airplane { margin-left: 0; }
		}

	#logo {
		width: 300px;
	}
		@media screen and (max-width: 500px) {
			#logo { width: 200px; }
		}

#main {
	padding-top: 40px;
}

#primary li {
	display: inline-block;
	padding: 0 0.5em;
	font-size: 1.5em;
}

.post {
	margin-top: 20px;
	margin-bottom: 20px;
}

	.entry-content a,
	.entry-content a:visited {
		color: #fe57a1;
		font-weight: bold;
	}
		.entry-content a:active,
		.entry-content a:hover {
			color: #999;
		}

	.post:last-child {
		margin-bottom: 40px;
	}

	.blog .post img,
	.archive .post img {
		float: left;
		margin-right: 5%;
		width: 30%;
	}

	.blog .post .entry,
	.archive .post .entry {
		float: right;
		width: 65%;
	}

	.blog #content .post:first-child,
	.archive #content .post:first-child {
		margin-top: 0;
	}

		@media screen and (max-width: 640px) {
			.blog .post img,
			.archive .post img {
				margin-right: 8%;
				width: 46%;
			}
			.blog .post .entry,
			.archive .post .entry {
				width: 46%;
			}
		}
		@media screen and (max-width: 480px) {
			.blog .post img,
			.archive .post img,
			.blog .post .entry,
			.archive .post .entry {
				width: 100%;
			}
			.blog .post .entry-meta,
			.archive .post .entry-meta { display: block !important; }
		}

	.blog .post .entry-meta,
	.archive .post .entry-meta { display: none; }

/* ----- Featured Post ----- */

.featured {
	background-position: center center;
	background-size: cover;
	cursor: pointer;
}

.featured.featured-1 {
	float: left;
	height: 312px;
	margin-bottom: 40px;
	width: 66.67%;
}

.featured.featured-2,
.featured.featured-3 {
	float: right;
	height: 156px;
	width: 33.33%;
}

	@media screen and (max-width: 700px) {
		.featured.featured-1 {
			height: 200px;
			margin-bottom: 0;
			width: 100%;
		}	
		.featured.featured-2,
		.featured.featured-3 {
			height: 100px;
			margin-bottom: 40px;
			width: 50%;
		}
	}

	.featured .post {
		bottom: 0;
		left: 0;
		margin: 0;
		position: absolute;
		width: 100%;
	}

	.featured .post .entry {
		background-image: url(images/black-opacity-0.5.png);
		padding: 2% 5%;
		width: 100%;
		z-index: 1;
	}

		.featured .post .entry,
		.featured .post .entry a {
			color: #fff;
		}

		.featured .post-categories {
			margin-bottom: 0;
		}

		.featured .entry .entry-meta { display: block; }
		.featured .entry .entry-content { display: none; }

		.featured.featured-2 .entry .entry-title,
		.featured.featured-3 .entry .entry-title {
			font-size: 1em;
			margin-bottom: 0;
		}
	
		.featured.featured-2 .entry .entry-meta,
		.featured.featured-3 .entry .entry-meta {
			display: none !important;
		}

ul.post-categories {
	display: inline-block;
	margin-left: 0;
}

	.post-categories li {
		display: inline-block;
	}
	
	.post-categories li:after {
		content: ", ";
	}

		.post-categories li:last-child:after {
			content: "";
		}

#pagination {
	margin-top: 30px;
	margin-bottom: 10px;
	text-align: center;
}

#wpp-2 li { margin: 15px 0; }
	#wpp-2 li:last-child { margin-bottom: 0; }
.widget li a { display: block; }

.single { }

	.single .entry-meta,
	.page .entry-meta { margin-bottom: 20px;}
	.single .featured,
	.page .featured { margin-top: 20px; margin-bottom: 20px; }
	.single .post,
	.page .post { margin-top: 20px; }

	.fb_iframe_widget { top: -5px; }

/* ----- Long format posts ----- */

.single-format-aside #navbar,
.single-format-aside #navbar + .slashes,
.single-format-aside #sidebar {
	display: none;
}

.single-format-aside #masthead {
	text-align: center;
}

.single-format-aside .inner-wrap {
	max-width: 940px;
}

.single-format-aside h1 {
	font-size: 3em;
	margin-left: auto;
	margin-right: auto;
	width: 66%;
}

.single-format-aside .entry-meta {
	font-family: 'bebas_neueregular', sans-serif;
	font-size: 1.4em;
	margin-left: auto;
	margin-right: auto;
	width: 66%;
}

.single-format-aside #featured img {
	left: -20%;
	margin-bottom: -80px;
	max-width: none;
	width: 140%;
}

.single-format-aside #featured + .entry-content {
	padding: 20px;
	background: rgba(255, 255, 255, 0.75);
}

	@media screen and (max-width: 640px) {
		.single-format-aside h1,
		.single-format-aside .entry-meta { width: 100%; }
		.single-format-aside h1 { font-size: 2.6em; }
	}


.single-format-aside #content {
	float: none;
	margin: 0 auto;
}

.single-format-aside .entry-content {
	font-family: 'Bitter', 'Times New Roman', 'Times', serif;
	font-size: 115%;
	line-height: 1.8;
}

/* ----- Footer ----- */

#footer div.column {
    float: left;
    margin-right: 2%;
    width: 23%;
}

#footer div.column:last-child {
	margin-right: 0;
}

#footer .column .widget {
    width: 100%;
}

@media screen and (max-width: 800px) {
	#footer div.column {
		width: 49%;
	}
	#footer div.column:nth-child(2n) {
		margin-right: 0;
	}
}

@media screen and (max-width: 560px) {
	#footer div.column {
		margin-right: 0 !important;
		width: 100%;
	}
}

#footer-widgets {
	margin-top: 40px;
	margin-bottom: 20px;
}

/* Misc. and sundry */
#_atssh { bottom: 1px; } 